
{{#is basename 'index_alt'}}
	<header id="header" class="bg-header">
		<div class="container">
			<div class="header-action">
				<div id="logintopbtn" class="dashboardcookie"> 
	               <a href="/SalsurveyUsers/login" class="btn-square second">login</a>                
	            </div><!-- //logintopbtn -->
            </div>

			<div class="row">
			 	<div class="logo">
			 		<a href="#">
				 		<figure class="logo-thumb">
				 			<img src="assets/img/logo_white.png" alt="" width="80">
				 		</figure>
				 		<h2>Your Survey Name</h2>
			 		</a>
			 	</div><!-- //logo -->
			 	<div class="banner-ads-sub">
			 		<a href="#">
			 			<img src="http://placehold.it/468x60">
			 		</a>
			 	</div>
			</div>
		</div>
	</header> <!-- HEADER -->  
{{/is}}

{{#is basename 'index_'}}

	<header id="header">
		<div class="container">
			<div class="row">
			 	<div class="logo">
			 		<a href="#">
				 		<figure class="logo-thumb">
				 			<img src="assets/img/logo_white.png" alt="" width="80">
				 		</figure>
				 		<h2>Your Survey Name</h2>
			 		</a>
			 	</div><!-- //logo -->
			 	<div class="banner-ads">
			 		<img src="http://placehold.it/350x65">
			 	</div>
				<div class="head-right">
					<a href="#" class="btn-square trans">sign up</a>
					<a href="#" class="btn-square trans">login</a>
				</div>
			</div>
		</div>
	</header> <!-- HEADER -->  

{{/is}}

{{#is basename 'add_salary'}}
		<header id="header" class="no-fixed">
			<div class="container">
				<div class="header-action">
					<div id="logintopbtn" class="dashboardcookie"> 
		               <a href="/SalsurveyUsers/login" class="btn-square second">login</a>                
		            </div><!-- //logintopbtn -->
	            </div>

				<div class="row">
				 	<div class="logo">
				 		<a href="#">
					 		<figure class="logo-thumb">
					 			<img src="assets/img/logo_white.png" alt="" width="80">
					 		</figure>
					 		<h2>Your Survey Name</h2>
				 		</a>
				 	</div><!-- //logo -->
				 	<div class="banner-ads-sub">
				 		<a href="#">
				 			<img src="http://placehold.it/468x60">
				 		</a>
				 	</div>
				</div>
			</div>
		</header> <!-- HEADER -->  
{{/is}}

