<header id="header" class="bg-darken">
	<div class="container">
		<div class="row">
		 	<div class="logo">
		 		<a href="#">
			 		<figure class="logo-thumb">
			 			<img src="assets/img/logo_white.png" alt="">
			 		</figure>
		 		</a>
		 	</div><!-- //logo -->
		 	<div class="header-ads">
		 		<img src="http://placehold.it/350x65">
		 	</div>
			<div class="head-right">
				<a href="#" class="btn-square trans">sign up</a>
				<a href="#" class="btn-square second">login</a>
			</div>
		</div>
	</div>
</header> <!-- HEADER -->  
