

{{#isnt basename 'index_'}}
	<header id="header" class="bg-darken">
		<div class="container">
			<div class="header-action">
				<div id="logintopbtn" class="dashboardcookie"> 
	               <a href="/SalsurveyUsers/login" class="btn-square second">login</a>                
	            </div><!-- //logintopbtn -->
            </div>

			<div class="row">
			 	<div class="logo">
			 		<a href="#">
				 		<figure class="logo-thumb">
				 			<img src="assets/img/logo_white.png" alt="">
				 		</figure>
			 		</a>
			 	</div><!-- //logo -->
			 	<div class="banner-ads-sub">
			 		<a href="#">
			 			<img src="http://placehold.it/468x60">
			 		</a>
			 	</div>
			</div>
		</div>
	</header> <!-- HEADER -->  
{{else}}

	<header id="header" class="bg-darken">
		<div class="container">
			<div class="row">
			 	<div class="logo">
			 		<a href="#">
				 		<figure class="logo-thumb">
				 			<img src="assets/img/logo_white.png" alt="">
				 		</figure>
			 		</a>
			 	</div><!-- //logo -->
			 	<div class="banner-ads">
			 		<img src="http://placehold.it/350x65">
			 	</div>
				<div class="head-right">
					<a href="#" class="btn-square trans">sign up</a>
					<a href="#" class="btn-square second">login</a>
				</div>
			</div>
		</div>
	</header> <!-- HEADER -->  

{{/isnt}}
