<div id="main" role="main" >
	<div class="container">
		<div class="checkbox">
		    <input type="checkbox" value="" id="cxbox">
		    <label for="cxbox"><span></span>Save this card</label>
		</div>

		 <div class="radio-wrap">
            <div class="radio">
                <input type="radio" name="optionsRadios" id="radio" value="" checked>
                <label for="radio">
                    <span></span>
                    <p class="txt"><strong>New Customers</strong>Create
                        an account with us for quick
                        checkout, to keep track of your
                        order, and more.</p>
                </label>
            </div>
            <div class="radio">
                <input type="radio" name="optionsRadios" id="radio2" value="option2">
                <label for="radio2">
                    <span></span>
                    <p class="txt"><strong>Returning Customers</strong></p>
                </label>
            </div>
        </div><!-- //radio-wrap -->
   	</div>
</div> <!-- //MAIN -->
  