/*==== CHECKBOX DAN RADIO ======*/
.checkbox, .radio{
	font-size: 13px;
	label{
		padding-left: 0;
	}
	input[type="checkbox"]{
		
	}
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
    margin-left: 0;
    margin-right: 8px;
}


/* ======== CHECKBOX AND RADIO STYLE  ======== */

.custom-label {
  @include inline-block();
  width: auto;
  margin-right: .8em;
  cursor: pointer;
  .text-orange {
    text-decoration: underline;
  }
}

.custom-radio, .custom-check {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -0.15em;
  /* Adjust to for best fit */
  margin: 0 .4em;
  margin-left: 0;
  width: 27px;
  height: 27px;
  background: transparent image-url("check.png") 0 0 no-repeat;
}
.custom-radio {
  background-position: 0 0;
}
.custom-check.focus {
  background-position: top left;
}
.custom-radio.focus {
  background-position: -20px -20px;
}
.custom-check.checked {
  background-position: bottom left;
}
.custom-radio.checked {
  background-position: -40px -20px;
}
.custom-check.checked.focus {
  background-position: bottom left;
}
.custom-radio.checked.focus {
  background-position: -60px -20px;
}

