/** HERO
===================================*/
.hero{
	@include clearfix();
	color: white;
	padding: 0 0 8%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	@include background-size(cover);
	background-color: $fourth-color;
	background-attachment: fixed;
	.hero-thumb{
		text-align: center;
		max-width: 530px;
		margin: 0 auto 35px;
		@media screen and (min-width: 62em){
			float: right;
			text-align: right;
			margin: 0;
		}
	}
	@media screen and (min-width: 48em){
		padding: 8% 0 8%;
	}
}

.search-actionbar{
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	background: rgba($second-color, 0.7);
	border-bottom: 1px solid $second-color;
	padding: 20px 0;
	color: white;
	text-align: center;
	.desc{
		font-size: 18px;
		margin-bottom: 15px;
		text-transform: uppercase;

	}
	.btn-wrap{
		text-align: center;
		.btn-square:last-child{
			margin-left: 15px;
		}
	}
	@media screen and (min-width: 48em){
		text-align: left;
		position: absolute;
		.desc{
			float: left;
			padding-top: 15px;
			margin-bottom: 0;
		}
		.btn-wrap{
			float: right;
			text-align: right;
		}
	}
}

.hero-desc{
	text-align: center;
	padding-top: 12% 0 0;
	margin-bottom: 50px;
	@media screen and (min-width: 48em){
		padding-top: 10%;
	}
	h2{
		font-weight: 600px;
		font-size: 42px;
		margin: 0;
		margin-bottom: 35px;
		line-height: 1em;
		text-transform: uppercase;
		@media screen and (min-width: 48em){
			font-size: 58px;
		}
	}
	.content-text{
		
	}
}


/** MAIN SEARCH
===================================*/
.mainsearch{
	@include clearfix();
	margin-bottom: 0;
	text-align: center;

	&.salinputwrap{
		padding: 15px 0;

	}
	.container{
		position: relative;
	}
	.form-group{
		margin: 0 15px;
		padding: 0;
	}
	.iteminputsal{
		float: none;
		width: 100%;
	}
	.btn-square{

	}

	.form-control{
		height: 48px;
		background-color: white;
	}
	.iteminputsal .form-control {
		height: 48px;
		background-color: white;
	}

	.bootstrap-select > .btn {
	    width: 100%;
	    padding-right: 25px;
	    height: 48px;
	    -moz-border-radius: 0;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    background-color: white;
	}

	.caret{
		border-top-color: #0088cc;
	}
	.btn-group.bootstrap-select{
		height: auto;
		@include clearfix();
	}

	.btn-square{
		padding-top: 16px;
		padding-bottom: 16px;
	}
}
.src-group{
	margin-bottom: 7px;
	@media screen and (min-width: 62em){
		width: 29.8%;
		@include inline-block();
		margin-bottom: 0;
		padding: 0 15px;
	}
	@media screen and (min-width: 62em) and (max-width: 75em){
		width: 28%;
	}
	&:first-child{
		padding-left: 0;
	}
	&:last-child{
		padding-right: 0;
	}
}
.src-group-btn{
	text-align: center;
	margin-bottom: 7px;
	@media screen and (min-width: 62em){
		@include inline-block();
		vertical-align: top;
		margin-bottom: 0;
		text-align: right;	
	}
}

